@font-face {
	font-family: "Pudelinka";
	src: url("Fonts/pudelinka.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #8E8DCE; 
	margin-left: 20%;
	margin-right: 20%;
	border: 2px dotted black;
	padding: 10px;
	font-family: sans-serif;
}

blockquote.q {
	color: #496B00;
	border-left: 4px solid #0B16DD;
	font-style: italic;
	padding-left: 16px;
	margin-left: 0;
}

p.quote {
	font-family: "Pudelinka", cursive;
}
