@font-face {
	font-family: "Pudelinka";
	src: url("Fonts/pudelinka.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #E6E6FA; /* нежно-лавандовый фон */
	margin-left: 20%;
	margin-right: 20%;
	border: 2px dotted black;
	padding: 10px;
	font-family: sans-serif; /* исправлено! */
}

blockquote.q {
	color: #D4AF37;
	border-left: 4px solid #8B0000;
	font-style: italic;
}

p.quote {
	font-family: "Pudelinka", cursive;
}
